@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 0.2;
  }
  40% {
    visibility: visible;
    opacity: 0.4;
  }
  60% {
    visibility: visible;
    opacity: 0.6;
  }
  80% {
    visibility: visible;
    opacity: 0.8;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: visible;
    opacity: 0.8;
  }
  40% {
    visibility: visible;
    opacity: 0.6;
  }
  60% {
    visibility: visible;
    opacity: 0.4;
  }
  80% {
    visibility: visible;
    opacity: 0.2;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}