.footer {
  background: $footerBg;
  text-align: center;

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__item {
      display: inline-block;
      padding: 2.5rem 1.25rem;
    }

    &__link {
      color: $darkModerateCyan;

      &:hover {
        color: $white;
      }
    }
  }

  &__social-icon {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 2.5rem 0.8125rem 0rem;

      a {
        svg path {
          @include easeInOut(all, 300ms);
        }

        &:hover svg path{
          fill: $white;
        }
      }
    }
  }
}