.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  picture img {
    width: 100%;
    vertical-align: middle;
  }
}