.testimonials {
  text-align: center;
  &__header {
    text-transform: uppercase;
    font-size: $small;
    letter-spacing: 0.3125rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      font-size: $medium;
    }
  }

  .client-card-grid {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.75rem;
    @include breakpoint-up(medium) {
      padding-top: 3.75rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }

    .client-card {
      &__avatar {
        width: 4.6875rem;
        border-radius: 50%;
      }

      &__text {
        margin: 1.875rem auto;
        color: $veryDarkGrayishBlue;
        @include breakpoint-up(medium) {
          margin: 3.75rem 0px 4.375rem 0;
        }
      }

      &__name {
        margin-bottom: 0.625rem;
        font-size: $medium;
        color: $veryDarkDesaturatedBlue;
      }

      &__position {
        font-size: $small;
        color: $grayishBlue;
      }
    }
  }
}